#save-changes-info, #save-changes-button, #delete-profile-button{
    width: 100%;
    background-color: gray;
    color: white;
    font-weight: 900;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid white;
}

td{
    width: 50%;
    text-align: right;
    /*border: 1px dotted rgba(120, 166, 211, 0.2);*/
}

#color-selector{
    float: left;
}

#color-selector:hover{
    opacity: 80%;
    cursor: pointer;
}

.remove-some-info{
    background-color: gray;
    text-shadow: 1% black solid;
    border: 1px white solid;
    color: red;
    font-weight: 900;
    border-radius: 5px;
}

.remove-some-info:hover{
    opacity: 80%;
    cursor: pointer;
}

#save-changes-info:hover{
    opacity: 80%;
    cursor: pointer;
}

#update-bordered-div{
    border: 2px white solid;
    width: 95%;
    margin-left: 2%;
    opacity: 90%;
    background-color: black;
    border-radius: 10px;
    opacity: 80%;
    padding-top: 2px;
    transition: 0.4s ease;
}

.inline-tooltip{
    display: inline-block;
}

.info-input-form-table{
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
    /*border: 1px dotted rgba(120, 166, 211, 0.2);*/
    border-radius: 10px;
}

#change-password{
    background-color: black;
    display: inline-block;
    width: 100%;
    border: 1px white solid;
    opacity: 80%;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    
}

.change-password-table{
    display: inline-table;
}

#save-changes{
    width: 100%;
}

#save-changes-button{
    width: 100%;
    float: right;
    border-bottom-left-radius: 70px;
    
}

#save-changes-button:hover{
    opacity: 60%;
    cursor: pointer;
}

#change-password-inner-div{
    
}

#delete-own-profile{
    opacity: 80%;
    display:inline-block;
    background-color: black;
    
    height: 100%;
    width: 100%;
    border: 1px solid white;
}

#delete-profile-button{
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.bottom-half-change-info-td{
    height: 30%;
    padding-top: 0%;
    width: 50%;
    text-align: center;
    padding-left: 0%;
}

#bottom-half-table{
    width: 95%;
    margin-left: 2%;
}

#delete-profile-button:hover{
    opacity: 60%;
    cursor: pointer;
}