.profile-info-div{
    display: inline-block;
    
    position: fixed absolute;
    width: 21vw;
    border-right: 1vw;
    /*background-color: linear-gradient(rgb(32, 32, 32),rgb(32, 31, 31));*/
    background: url("../../Images/profileInfoDivBg.png");
    height: 95vh;
    top: 0;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    transition: 0.4s ease;
    z-index: 1;
    color: white;
}


#skater-name-h1{
    display: inline;
}

.scrollable{
    display: inline-block;
    overflow: auto;
}

.profile-actions-div{
    position: relative fixed;
    width: 100%;
    height: 10%;
}

.profile-button-div{
    display: inline-block;
    width: 33.33%;
    height: 100%;

}

.button-profile{
    width: 100%;
    height: 100%;
    background-color: gray;
    color: white;
    font-weight: 500;
}

.button-profile:hover{
    opacity: 80%;
    cursor: pointer;
}

.change-info{
    width: 100%;
    height: 100%;
    font-weight: 900;
    background-color: gray;
    color: white;
}

.change-info:hover{
    opacity: 80%;
    cursor: pointer;
}

#username-profile{
    position: fixed;
}

.request-popup-div{
    
    width: 30vw;
    height: 30vh;
    background-color: pink;
    position: fixed;
   
    margin-left: 30vw;
    margin-bottom: 40vw;
    z-index: 2;
    transition: 0.4s ease;
    display: inline-block;

}

.report-popup-div{
    width: 30vw;
    height: 30vh;
    background-color: green;
    position: fixed;
   
    margin-left: 30vw;
    margin-bottom: 40vw;
    z-index: 2;
    transition: 0.4s ease;
    display: inline-block;
}

.change-data-info-form{
    display: inline-block;
    width: 50%;
}

.change-name-form-div-button{
    display: inline-block;
    color: white;
    
}

.username-fixed-div{
    position: fixed;
    background-image: url("../../Images/profileInfoDivBg.png");
    background-size: contain;
    width: 100%;
}

#change-info-div{
    height: 100%;
    width: 100%;
}

.change-name-form-div-buttons-div{
    display: inline-block;
}

.change-name-form-div-button-chng{
    background-color: green;
}

.change-name-form-div-button-cancel{
    background-color: red;
}

@media only screen and (max-width: 800px){
    .profile-info-div{
        display: inline-block;
        
        position: fixed relative;
        
        background-color: rgb(99, 89, 89);
        background-size: contain;
        height: 95vh;
        top: 0;
        overflow: hidden;
        padding: 0%;
        border:none;
        transition: 0.4s ease;
        z-index: 1;
        overflow: auto;
    
    }
    
}

#profile-info-description.scrollable{
    
    transition: 0.4s ease;
}