.main-div-video-segment{
    width: 62vw;
    height: 95vh;
    display: inline-block;
    background-color: rgb(99, 89, 89);
    
    
}

.videos-div{
    width: 100%;
    
    height: 33%;
    
    overflow: auto;
    padding-left: 0px;
    /*box-shadow: gray 20px 20px 20px 20px;
    background: url("../../Images/regLogBg.png");*/
    /*
    resize: vertical;
    */
    overflow: auto;
}


.tutorials{
    /*background-color: rgb(51, 39, 61);*/
    border-bottom: 2px white solid;
}

.tries{
    /*
    background-color: rgb(44, 29, 29);
    */
    border-bottom: 2px white solid;
}

.steezy{
    /*
    background-color: rgb(24, 43, 36);
    */
}

.fixed-header-div{
    position: fixed;
    margin-bottom: 10%;
    display:inline-block;

}

@media only screen and (width: 800px){
    .main-div-video-segment{
        margin-top: 20px;
    }

    .videos-div{
        margin-top: 20px;
    }
}
