.navigation{
    display: inline-block;
    transition: 0.1s ease;
    height: 100vh;
    width: 17vw;
    background: linear-gradient(rgb(17, 17, 17),rgb(19, 18, 18));
    background-size: cover;
    position: fixed;
}

.section{
    color: white;
    overflow-wrap: break-word;
    position: relative;
    border-bottom: rgb(78, 78, 78) 1px solid;
}

.interact{
    text-align: center;
    font-size: 200%;
    
}

.name{
    text-align: center;
    padding-right: 2%;
    font-size: 200%;
    

    color: green;

}

.requests{
    text-align: center;
    padding-right: 5%;
    
    font-size: 200%;

}

.followings{
    text-align: center;
    padding-right: 15%;
    

    font-size: 150%;

}

.reports{
    text-align: center;
    padding-left: 5%;
    

    font-size: 150%;

}

.logout{
    text-align: center;
    font-size: 200%;
    

    color: crimson;

}

.add-trick{
    text-align: center;
    font-size: 200%;
}

.selected{
    background-color: midnightblue;
}
.last-div{
    background-size:cover;
    height: 1vh;
    position:center;
    width: 17wv;
}


.section:hover{
    border-style: inset;
    font-size: 3vw;
    border-color:gray;
    background-color: gray;
   
}

.link-no-decoration{
    text-decoration: none;
}

/*for reponsivity of the sidebar!:D*/
@media only screen and (max-width : 800px){
    .section{
        display: inline-block;
        padding: 0;
        text-align: center;
        font-size: 70%;
        width: 13%;
        position: relative;
        height: 100%;
        border: none;
    }

    
    .navigation{
        display: block;
        width: 100vw;
        height: 20px;
        box-shadow: darkblue;
    }

    .section:hover{
        font-size: auto;
        border: none;
        border-color:gray;
        background-color: gray;
        opacity: 90%;
    }
    
}