#trick-admin-form-div{
    
    height: 20%;
    width: 20%;
    border: white 2px solid;
    border-radius: 10px;
    background-color: black;
    opacity: 80%;
    text-align: center;
    overflow: auto;
    margin-left: 0%;
    margin-right: 5%;
    margin-top: 0%;
    display: inline-block;

}

#update-trick-button{
    background-color: white;
    color: black;
    font-weight: 900;
}
#add-trick-admin-button{
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: gray;
    color: white;
    border-top: 1px white solid;
    font-weight: 900;
}

#add-trick-admin-button:hover{
    opacity: 80%;
    cursor: pointer;
}

#tricks-for-admin-add-trick{
    width: 100%;
    height: 30vh;
    display: inline-block;
    overflow: auto;
    margin-top: 0%;
}

#upper-half-add-trick-div{
    width: 100%;
    height: 50%;
    position: relative;
    overflow: auto;
}

#scrollable-add-trick-div{
    overflow: auto;
}

#edit-trick-div{
    width: 30%;
    float: right;
    word-break: break-all;
    /*background-color: wheat;*/
    border: 2px white solid;
    border-radius: 10px;
    background-color: gray;
    opacity: 80%;
    overflow: auto;
}

#labels-add-trick{
    display: inline-block;
    width: 50%;
    text-align: right;
}

#fields-add-trick{
    display: inline-block;
    width: 100%;
    text-align: center;

}

.existing-tricks-header{
    display: inline-block;
    margin-top: 0%;
}

#existing-tricks-container{
    display: inline-block;
    width: 40%;
}

.half-of-labels{
    height: 50%;
    width: 100%;
}

.half-of-fields{
    height: 50%;
    width: 100%;
}

#update-trick-button{
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#update-trick-button:hover{
    opacity: 60%;
    cursor: pointer;
}

.add-trick-edit-field{
    width: 90%;
    
}

.single-trick-add-trick-div{
    width: 100%;
}

#scrollable-add-trick-div{
    overflow: auto;
}

#lower-add-trick-div{
    height: 50%;
    width: 100%;
    overflow: auto;
}