#trick-user-form-div{
    max-width: 40%;
    max-height: 40%;
    height: 40%;
    width: 20%;
    border: white 2px solid;
    border-radius: 10px;
    background-color: black;
    opacity: 80%;
    text-align: center;
    overflow: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    display: inline-block;

}

#add-trick-user-button{
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: gray;
    color: white;
    border-top: 1px white solid;
    font-weight: 900;
}

#add-trick-user-button:hover{
    opacity: 80%;
}

#tricks-for-user-add-trick{
    width: 100%;
    height: 30vh;
    display: inline-block;
    overflow: auto;
}

.existing-tricks-container{
    height: 30vh;
}

.single-trick-add-trick-div{
    width: 100%;
}