#add-video-input{
    display: inline-block;
    width: 50%;

}

#add-video-tricks-div{
    display: inline-block;
    width: 50%;
    height: 15vh;
    overflow: auto;
}

#add-video-description{
    width: 70%;
}

#video-input-div{
    width: 30vw;
    height: 31.66vh;
    background-color: black;
    opacity: 80%;
    margin-top: 100vh;
    margin-left: 40vw;
    border: 2px white solid;
    border-radius: 10px;
    position: fixed;
    transition: 0.4s ease;
    color: white;
    text-align: center;
    overflow: auto;
}

#add-video-header-div{
    border-radius: 10px;
   
    width: 30vw;
    background-color: black;
    
    background-size: cover;
    text-align: center;
    
}

#add-video-form{
    
}

#info-about-video-adding{
    position: relative;
    
    border-radius: 20px;
    color: white;
    background-color: gray;
    border-color: white;
}

#info-about-video-adding-tooltip{
    display: inline-block;
}

#video-choice{
    width: 70%;
}

#send-video{
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    background-color: gray;
    font-weight: 900;
    border-top: 1px solid white;
}

#send-video:hover{
    opacity: 80%;
}


