.main-div{
    color: white;
    display: inline-block;
    /*background-color: rgb(99, 89, 89);
    background-size: cover;*/
    background-image: url("../../Images/profileInfoDivBg.png");
    height: 95vh;
    overflow: hidden;
    border-bottom-left-radius: 10vh;
    width: 83vw;
}

.interaction-form-div{
    border-bottom-left-radius: 10vh;
    width:83vw;
    height: 100%;
    /*background-color:rgb(99, 89, 89);
    background-size: cover;*/
    
    border-right: none;
    border-top: none;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    transition: 0.4s ease;
    background-image: url("../../Images/profileInfoDivBg.png");
}

.interaction-form-button-div{
    top: 0;
    height: 100%;
    display: inline-block;
    float: right;

}

.single-trick-div:hover{
    cursor: pointer;
}

#trick-to-choose-div, .trick-to-choose-div{
    overflow: auto;
    width: 50%;
    margin-right: 25%;
    margin-right: 25%;
    padding-left: 25%;
    height: 0%;
    transition: 0.4s ease;
}

.some-div{
    display: inline-block;
    margin-top: 10vh;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 80vh;
    text-align: center;
    overflow: auto;
    transition: 0.4s ease;

}

#interaction-button{
    width: 100%;
    height: 100%;
    background-color:rgb(185, 185, 185);
    background-image: url("../../Images/interactionButtonBg.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

#interaction-button:focus{
    outline: none;
}

#interaction-button:hover{
    opacity: 80%;
}

.interaction-form-button-div:hover{
    opacity: 60%;
}

#empty-random-skater{
    font-size: 100%;
    display: inline-block;
    text-align: center;

}

.rnd{
    display:inline-block;
    float: right;
    width: 20vw;
    top: 0;
    
}

#non-selectable-option{
    display: none;
}



.request-help-div{
    display: inline-block;
    background-image: url("../../Images/requestHelpDivBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 10vw;
    width: 10vw;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5%;
    transition: 0.4s ease;

}
.offer-help-div{
    margin-right: 5%;
    display: inline-block;
    background-image: url("../../Images/offerHelpDivBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 10vw;
    width: 10vw;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.4s ease;


}

.interaction-form-submit-div{
    height: 10%;
    width: 10%;
    margin-right: 45%;
    margin-left: 45%;
    background-image: url("../../Images/interactGoDiv.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 100%;
    border-radius: 10px;
    border: 2px white solid;
    transition: 0.4s ease;

}

#interaction-form-submit-div:hover{
    opacity: 60%;
    cursor: pointer;
}
.offer-help-div-div{
    display: inline-block;

}

.request-help-div-div{
    display: inline-block;
}

.request-help-div:hover{
    opacity: 80%;
    cursor: pointer;
}

.offer-help-div:hover{
    opacity: 80%;
    cursor: pointer;
}

@media only screen and (max-width : 800px){
    .main-div{
        display: block;
        width: 100vw;
        border-bottom-left-radius: 0;
    }
    .interaction-form-div{
        border-bottom-left-radius: 0;
        border-radius: none;
        width:100vw;
        margin-top: 20px;
        height: 100%;
        background-color:rgb(99, 89, 89);
        background-size: cover;
        display: inline-block;
        overflow: hidden;
        text-align: center;
        float: left;
    }

    .section:hover{
        font-size: 100%;
        border: none;
        border-color:gray;
        background-color: gray;
        opacity: 90%;
    }
    
}

@media only screen and (max-height : 300px){
    .section{
        display: inline-block;
        padding: 0;
        font-size: 100%;
        text-align: center;
        width: 16%;
        position: relative;
        height: 100%;
        border: none;
    }
    .navigation{
        display: block;
        width: 100vw;
        height: 20px;
        
    }

    .section:hover{
        font-size: 100%;
        border: none;
        border-color:gray;
        background-color: gray;
        opacity: 90%;
    }
}