.random-skater-div{
    display: inline-block;
    float: right;
    position: fixed;
    width: 21vw;
    /*background-color: rgb(99, 89, 89);*/
    background-image: url("../../Images/profileInfoDivBg.png");
    height: 95vh;
    top: 0;
    overflow-x: hidden;
    border-style: dashed;
    border-color: white;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    padding: 0%;
    transition: 0.4s ease;
    /*z-index: 1;*/
    border-style: none;
}

.random-skater-photo-div{
    display:inline-block;
    height: 30%;
    position: relative;
    width: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    background-image: url("../../Images/mystery_random_skater.png");
    background-position: bottom;
    background-size: contain;
    border-bottom: solid 1px rgb(202, 194, 194);
    transition: 0.4s ease;

}

.random-skater-description-div{
    overflow-wrap: break-word;
    height:60%;
    overflow: auto;
    

}

.visit-profile-div{
    overflow-wrap: break-word;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 30%;
}

#visit-profile-button{
    width: 100%;
    background-color: gray;
    color: white;
    font-weight: 900;
    position: relative;
    bottom: 0%;
    height: 30%;
    text-align: center;
}

#visit-profile-button:hover{
    opacity: 80%;

}

hr{
    margin-left: 0.1vw;
    margin-right: 0.1vw;
}

.scrollable{
    overflow: auto;
    
}

#skater-name-h1{
    padding: 0%;
    margin: 0%;
    transition: 0.4s ease;
}

@media only screen and (max-width: 800px){
    .random-skater-div{
        display: inline-block;
        float: right;
        position: fixed;
        position: relative;
        width: 38vw;
        background-color: rgb(99, 89, 89);
        background-size: contain;
        height: 100%;
        top: 0;
        overflow: hidden;
        padding: 0%;
        margin-top: 20px;
        transition: 0.4s ease;
        z-index: 1;
        
    
    }
    
    
}