.followings-followers-div, .followings-followed-div{
    height: 100%;
    width: 50%;
    display: inline-block;
    overflow: auto;
    transition: 0.4s ease;
}

.followings-followers-div{
   background-image: url("../Images/followersBg.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   transition: 0.4s ease;
}

.followings-followed-div{
    background-image: url("../Images/followedBg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.4s ease;
}

.following-header-div{
    position: fixed;
    text-align: center;
    margin-bottom: 0%;
    display: block;
}

@media only screen and (max-width: 800px){
    .followings-followers-div, .followings-followed-div{
        margin-top: 20px;
    }
}

