.login-branch, .registration-branch{
    display: inline-block;
    height: 100vh;
    width: 49.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    transition: 0.4s ease;
}

.login-branch{
    background-image: url("../Images/login.png");
    float: left;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.registration-branch{
    background-image: url("../Images/register.png");
    float: right;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.login-branch:hover{
    background-image: url("../Images/gifs/login.gif");
    opacity: 70%;
}

.registration-branch:hover{
    background-image: url("../Images/gifs/register.gif");
    opacity: 70%;
}

.main-div-initial{
    height: 100vh;
    width: 100vw;
    display: block; 
    background-color: rgb(185, 179, 179);
    background-color: rgb(37, 37, 37);

}

@media only screen and (max-width: 1000px){

    .login-branch, .registration-branch{
        display: inline-block;
        height: 100vh;
        width: 49.5%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: black;
    }
    
}

