.main-div-interaction{
    height: 100vh;
    overflow:hidden;
    display: block; 
    background: linear-gradient(gray,rgb(177, 162, 162),gray);
}

button:hover{
    cursor: pointer;
}

.main-div-div{
    height: 100vh;
    width: 83vw;
    float: right;
    overflow: hidden;
    background-size: cover;
    background: linear-gradient(rgb(17, 17, 17),rgb(19, 18, 18));
}

.random-skater-div{
    overflow: hidden;
    display: inline-block;
}


@media only screen and (max-width : 800px){
    .main-div-div{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-size: cover;
        background-color: rgb(29, 27, 27);
    }
    
}

@media only screen and (max-height : 300px){
    .main-div-div{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-size: cover;
        background-color: rgb(29, 27, 27);
    }
    
}