.login-main-div{
    width: 100vw;
    height: 100vh;
    /*ackground: linear-gradient(to right, black, gray, black);*/
    background-image: url("../Images/regLogBg.png");
    background-color: rgb(37, 37, 37);
    /*background-size: cover;*/
    display: block;

}

.login-div{
    text-align: center;
    height: 100vh;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: none;
    position: relative;
    display: inline-block;
    /*border-right: solid 1vw black;
    border-left: solid 1vw black;*/
    background: linear-gradient(black, rgb(37, 37, 37));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 85%;
    color: white;
    overflow: auto;
    

}

#login-form{
    border: 2px white solid;
    border-color: 10px;
    margin-top: 30vh;
    width: 30%;
    
    margin-left: 35%;
    border-radius: 10px;
    transition: 0.4s ease;

}

#login-h{
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0%;

}

#username-label, #password-label{
    color: red;
    font-size: 75%;
}

#login-button{
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    background-color: gray;
    border-top: 1px white solid;
    font-weight: 900;
}

#login-button:hover{
    opacity: 80%;
}

@media only screen and (max-width: 1000px){
    #login-form{
        border: 2px white solid;
        border-color: 10px;
        margin-top: 30vh;
        width: 60%;
        
        margin-left: 20%;
        border-radius: 10px;
    
    }
}