#request-popup-div{
    height: 50vh;
    width: 20vw;
    margin-top: 30vh;
    margin-left: 120vw;
    display: inline-block;
    background-color: black;
    opacity: 80%;
    position: fixed;
    color: white;
    margin-right: 50vw;
    border-radius: 10px;
    border: 2px white solid;
    overflow: auto;
    transition: 1s ease;
}

#report-button, #send-request-button{
    bottom: 0px;
    border-top: 2px white solid;
    left: 0px;
    position: absolute;
    background-color: gray;
    color: white;
    font-weight: 900;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#report-button:hover, #send-request-button:hover{
    opacity: 80%;
    cursor: pointer;
}

#report-popup-div{
    height: 50vh;
    width: 20vw;
    margin-top: 30vh;
    margin-left: 140vw;
    display: inline-block;
    background-color: black;
    opacity: 80%;
    position: fixed;
    color: white;
    margin-right: 50vw;
    border-radius: 10px;
    border: 2px white solid;
    overflow: auto;
    transition: 1s ease;
    
}

.profile-main-div{
    overflow-x: hidden;
}

#make-request-header{
    text-align: center;
}

#make-report-header{
    text-align: center;
}

.text-area-popup{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.report-form{
    text-align: center;
}

.request-form{
    text-align: center;
}

.request-form-offer-type-select{
    display: inline-block;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: 30%;
}

#request-form-offer-help-selection{
    background-image: url("../Images/offerHelpDivBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border: 2px white solid;
    border-radius: 10px;
    width: 40%;
    height: 15vh;
    position: relative;
    display: inline-block;
    transition: 0.4s ease;
}

#request-form-request-help-selection{
    background-image: url("../Images/requestHelpDivBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border: 2px white solid;
    border-radius: 10px;
    width: 40%;
    height: 15vh;
    position: relative;
    display: inline-block;
    transition: 0.4s ease;
}

#request-form-offer-help-selection:hover, #request-form-request-help-selection:hover{
    opacity: 80%;
    cursor: pointer;
}