#no-display-option{
    display: none;
}

.white-text{
    color: white;
}

.registration-h1{
    color: white;
    margin-top: 5%;
}

.registration-center-div{
    width: 80%;
    display: inline-block;
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    background: linear-gradient(black, rgb(37, 37, 37));
    background-size: cover;
    overflow: auto;
    opacity: 85%;
}

.registration-main-div{
    /*background: linear-gradient(to right, black, gray, black);*/
    background-image: url("../Images/regLogBg.png");
    background-color: rgb(37, 37, 37);
    height: 100vh;
    width: 100vw;
    /*background-size: cover;*/
    display: block;
}

.registration-header-div{
    display: inline-block;
    width: 50%;

}

.registration-form{
    display: inline-block;
    padding-top: 2%;
    width: 100%;
}

#registration-bordered-div{
    border: 2px white solid;
    width: 80%;
    margin-left: 10%;
    opacity: 100%;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 2px;
    transition: 0.4s ease;
}

.known-tricks, .learning-tricks{
    display: inline-block;
    position: relative;
    width: 50%;
    height: 50%;
    overflow: auto;
    /*background-color: azure;*/
    background-size: cover;
}

.tricks{
    align-self: center;
    display: inline-block;
    height: 30vh;
    width: 100%;
}

.all-tricks{
    width: 100%;
    float: left;
    height: 100%;
    border-right: 1% black;
    display: inline-block;
    margin: 0;
    overflow: auto;
}

.all-tricks-right{
    width: 100%;
    float: right;
    height: 100%;
    border-left: 1% black;
    display: inline-block;
    margin: 0;
    overflow: auto;
}

.chosen-tricks{
    overflow: auto;
}

.trick-with-button{
    width: 50%;
    color: white;
    transition: 0.4s ease;
}

.button-add-trick{
    display: inline;
    width: 30%;
}

.trick-with-button-right{
    margin-left: 50%;
    width: 50%;
    color: white;
    transition: 0.4s ease;
}

/* changes the appearance of the scrollbar */
::-webkit-scrollbar {
    display: none;
    width: 5px;
    direction: rtl;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#tyk, #tyw{
    color: white;
    display: inline-block;
}

#tyk{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-left: 50%;
}

#register-button{
    background-color: gray;
    border-top: 1px white solid;
    font-weight: 900;
    color: white;
    /*border: 2px white solid;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

#register-button:hover{
    opacity: 80%;
}

#tyw{
    margin-right: 50%;
}

#tyk:hover{
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);

}

.labels-for-fields{
    text-align: end;
    display: inline-block;
    width: 50%;
}

.fields-for-registration{
    display: inline-block;
    width: 50%;
}

.registration-input{
    float: left;
}
/*
.trick-with-button:hover{
    margin-left: 50%;
}

.trick-with-button-right:hover{
    margin-left: 0%;
}
*/

#registration-h1{
    display: inline-block;
}

@media only screen and (max-width: 1000px){
    #registration-bordered-div{
        border: 2px white solid;
        width: 80%;
        margin-left: 10%;
        opacity: 100%;
        background-color: black;
        border-radius: 10px;
        
        padding-top: 2px;
    }
}
