.reports-list-div{
    margin-right: 0%;
    transition: 0.4s ease;
}

#no-reports-yet-span{
    margin-top: 20%;
    
    margin-left: 40%;
}

.main-div{
    overflow: auto;
}

#reports-fixed-header{
    position: fixed;
}