.received-requests-div, .sent-requests-div{
    height: 100%;
    width: 50%;
    display: inline-block;
    background-size: cover;
    text-align: center;
    overflow: auto;
    transition: 0.4s ease;
}

.received-requests-div{
    
    background: url("../Images/receivedReqBg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#show-all-answered-received-filter, #show-all-answered-sent-filter{
    border-color: blue;
}

.filter-requests-button{
    transition: 0.4s ease;
    text-align: center;
    padding: 2px;
    display: inline-block;
    background-color: black;
    border: 2px white solid;
    border-radius: 2px;
    opacity: 80%;
    margin-right: 5px;
    margin-top: 2px;
}

.filter-requests-button:hover{
    opacity: 60%;
    cursor: pointer;
}

.request-header-div{
    position: fixed;
    text-align: center;
    margin-bottom: 0%;
}

.sent-requests-div{
    background-image: url("../Images/sentReqBg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.request-header{
    text-align: center;
}

@media only screen and (max-width: 800px){
    .received-requests-div, .sent-requests-div{
        margin-top: 20px;
        transition: 0.3s ease;
    }

}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }