.single-following-div{
    display: block;
    background-color: rgb(20, 18, 18);
    word-break: break-all;
    border-radius: 5px;
    width: 80%;
    opacity: 80%;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid white;
    color: white;
    float: left;
    margin-top: 5%;
    transition: 0.4s ease;

}

.link-no-decoration{
    color: white;
}