.single-report-div{
    display: inline-block;
    overflow-wrap: break-word;
    margin-left: 5%;
    margin-top: 5%;
    border: 2px white solid;
    background-color: black;
    opacity: 80%;
    border-radius: 10px;
    transition: 0.5s ease;
    max-width: 20%;
}

.delete-report-button{
    width:100%;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 1px solid white;
    background-color: gray;
    color: white;
    font-weight: 900;
}

.delete-report-button:hover{
    opacity: 80%;
    cursor: pointer;
}

#reported-name-h3{
    display: inline-block;
}