.single-request{
    border-radius: 5px;
    display: inline-block;
    border: 2px white solid;
    overflow-wrap: break-word;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-size: cover;
    background-color: rgb(20, 18, 18);
    margin-top: 5%;
    transition: 0.4s ease;
    opacity: 80%;
}

.other-user-header{
    color: white;
}

.single_request:hover{
    opacity: 50%;
}

.accept-request-button, .reject-request-button{
    width: 50%;
}

.reject-request-button{
    border-bottom-left-radius: 5px;
    color: red;
    
}

.reject-request-button:hover, .accept-request-button:hover, .delete-request-button:hover{
    opacity: 80%;
    cursor: pointer;
}

.accept-request-button{
    border-bottom-right-radius: 5px;
    color: green;
}

.delete-request-button{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: gray;
    color: white;
    border-top: 2px white solid;
}