.single-trick-suggestion-div{
    display: inline-block;
    background-color: rgb(5, 22, 5);
    opacity: 80%;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.4s ease;
    overflow-wrap: break-word;
    text-align: center;
    margin-left: 2%;
    margin-top: 5%;
    width: 30%;
}

.trick-suggestion-button{
    width: 50%;
}

.trick-suggestion-button:hover{
    opacity: 80%;
}

.put-suggestion{
    border-bottom-left-radius: 10px;
    width: 50%;
    color: green;
    font-weight: 900;
}

.delete-suggestion{
    border-bottom-right-radius: 10px;
    /*border-bottom-left-radius: 10px;*/
    width: 50%;
    color: red;
    font-weight: 900;

}

.suggestion-header-h3{
    display: inline;
}