.single-trick-div{
    background: linear-gradient(to right, black, rgb(48, 47, 47));
    border-color: white;
    border-width: 2px;
    border-style: solid;
    overflow-wrap: break-word;
    border-radius: 10%;
    margin-bottom: 1%;
    width: 98%;
    transition: 0.4s ease;
}

.single-trick-div:hover{
    opacity: 80%;
    
}