.single-video-div{
    display: inline-block;
    margin-left: 2px;
    border: 2px white solid;
    width: 20vw;
    height: 20vh;
    background-color: black;
    opacity: 80%;
    color: white;
    transition: 0.4s ease;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.thumbnail-div{
    width: 40%;
    height: 100%;
    display: inline-block;
}

.video-description-div{
    width: 60%;
    height: 100%;
    display: inline-block;
    overflow: auto;
}

.video-iframe{
    width: 95%;
    height: 98%;
}

.single-video-action{
    display: block;
    width: 98%;
    height: 100%;
    background-image: url("../Images/deleteVideoImg.png");
    background-size: contain;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    border: 2px solid white;
}

.single-video-action:hover{
    opacity: 80%;
    cursor: pointer;
}

.video-present-tricks{
    height: 80%;
    overflow: auto;
}
/*
.video-description{
    height: 20%;
    overflow: auto;
}
*/
.single-video-action-button-div{
    height: 20%;
}
