.add-video-div{
    display: inline-block;
    color: white;
    
    background-image: url("../Images/addVideoButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 2px white solid;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    background-color: black;
    opacity: 80%;

}

.video-list-div{
    margin-top: 5%;
}

#no-videos-span{
    margin-left: 40%;

}

.add-video-div:hover{
    opacity: 80%;
    cursor: pointer;
}

